#histoire{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3% 0;
}

#titre1{
    text-align: center;
    color:#017070;
    margin-bottom: 2%;
}

#paraHist{
    text-align: justify;
    line-height: 150%;
    width: 80%;
    margin-bottom: 3%;
}

#histoire>button{
    font-size: medium;
    font-weight: bolder;
    background-color: #017070;
    padding: 1% 2%;
    border-radius: 12px;
}

#histoire>button>a{
    color: #BCFFFF;
    padding: 5% 0;
}