* {
    margin: 0;
    padding: 0;
  }

html{
    scroll-behavior: smooth;
}
  
.container {
    max-width: 1100px;
    line-height: 250%;
    margin: auto;
    padding: 0 20px;
    text-align: center;
    color: #BCFFFF;
}
  
header {
    background-color: #017070;
    padding: 2% 0;
}
  
.profile-image {
    width: 25%;
    clip-path: circle(50%);
    margin-bottom: 2%;
}
  
nav {
    background-color: #333;
    padding: 15px 0;
    font-size: medium;
    font-weight: bolder;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
  
nav a {
    color: #BCFFFF;
    padding: 15px;
}
  
nav a:hover {
    background-color: #555;
}
  
/* Responsive */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        padding: 1% 0;
    }
}
